## Questão 1

### Definições:

- **Objetivo:** Prever os autores de obras de arte do impressionismo.
- **Ambiente:** Museu de arte, quadros e desenhos.
- **Atuadores/ações:** Software que informa autor da obra de acordo com as características da imagem.
- **Sensores/percepções:** Pixels de intensidade variável e cor.
- **Medidas de desempenho:** Número de acertos.

### De onde virão os dados ?

Eu iria sugerir a construção de uma base de dados seguindo um passo a passo semelhante ao descrito na criação da base [Impressionist_Classifier_Data](https://www.kaggle.com/datasets/delayedkarma/impressionist-classifier-data), no qual primeiro todo conteúdo relevante é baixado do [Wikiart](https://www.wikiart.org/en/paintings-by-style/impressionism#!#filterName:all-works,viewType:masonry), que no caso da criação da base para identificar autores impressionistas o ideal seria baixar todas as imagens impressionistas que possuem o nome do autor, e para isso seria usado um script (implementado pessoalmente ou utilizando o repositório público: [lucasdavid/wikiart](https://github.com/lucasdavid/wikiart)) que baixa as imagens e as organiza em diretórios diferentes de acodo o nome do autor.

### Como será a entrada ?

A entrada no geral é uma imagem, pode ser uma foto tirada de um quadro ou um desenho, ou até mesmo um desenho feito digitalmente e exportado no formato de imagem padrão.

### Exemplos de entrada e saída:

1. **Entrada:** Foto do quadro "Road to the Saint-Simeon Farm". **Saída:** Claúdio Monet.
2. **Entrada:** Desenho feito digitalmente do quadro "Tableau I". **Saída:** Piet Mondrian.
3. **Entrada:** Foto de um desenho do quadro "Young Spartans Exercising". **Saída:** Edgar Degas.
4. **Entrada:** Desenho feito digitalmente do quadro "Farm in Normandy". **Saída:** Autor não reconhecido.
5. **Entrada:** Foto do quadro "Music in the Tuileries Garden". **Saída:** Edouard Manet.

## Questão 2

### Classificação

- **Base:** [English Premier League(2020-21)](https://www.kaggle.com/datasets/rajatrc1705/english-premier-league202021).

- **Entradas:** Idade, número de jogos, tempo jogado, assitências e gols.
- **Saída:** Posição que atende melhor as características do jogador.
- **Motivação da previsão da saída:** Ajudar o time a entender qual a melhor posicação para os seus jogadores da base e do time principal de acordo com suas caracteríscas.

### Regressão

- **Base:** [World University Rankings 2021](https://www.kaggle.com/datasets/matheusgratz/world-university-rankings-2021).

- **Entradas:** Pontuação dos professores, potuação de pesquisa e potuação de citações.
- **Saída:** Previsão da pontuação de renda do setor.
- **Motivação da previsão da saída:** Analisar quais pontos da universidade devem ser fortificados para se ter uma maior potuação de renda do setor.

### Classificação ou Regressão

- **Base:** [LoL Challenger Soloq Data (Jan, Kr-Na-Euw)](https://www.kaggle.com/datasets/andrewasuter/lol-challenger-soloq-data-jan-krnaeuw).

#### Classificação

- **Entradas:** Número de assistências, dano em torres, dano em objetivos e dano total.
- **Saída:** Rotular campeões que melhor atendem as características de entrada.
- **Motivação da previsão da saída:** Ajudar times em competições profissionais, pois os pontos fortes e fracos dos times são conhecidos e medidos a partir das características de entrada, como: um time é bom em derrubar torres, então tem o seu dano em torres é alto, mas esse time não tem um número de abates bom, então seu dano total é baixo. Nesse sentido, saber quais campeões atendem melhor as características dos times pode fazer um time ter vantagem sobre seu adversário.

#### Regressão

- **Entradas:** Campeões, função no jogo (role) e lado do mapa.
- **Saída:** Previsão de dano em torres.
- **Motivação da previsão da saída:** Também ajudar times em competições profissionais, mas em um estágio diferente, que seria depois de os times já terem escolhido seus campeões, a função de cada jogador e o lado do mapa, pois a partir da saída os jogadores teriam a informação de quanto da estratégia de derrubar torres pode ser explorada ao longo da partida, isso pode ser importante para definir o objetivo principal do time na partida.

## Questão 3

### Supervisionado

- **Base:** [Anime DataSet 2022](https://www.kaggle.com/datasets/vishalmane10/anime-dataset-2022).

- O exemplo abaixo utiliza a base de dados [Anime DataSet 2022](https://www.kaggle.com/datasets/vishalmane10/anime-dataset-2022) para resolver um problema de regressão do aprendizado supervisionado.

##### Regressão

- **Entradas:** Tipo (forma de distribuição), número de episódios, estúdio de produção, temporada de lançamento, gêneros (tags).
- **Saída:** Previsão da avaliação dos usuários.
- **Motivação da previsão da saída:** Analisar qual o grau de aceitação da comunidade as características de um novo anime.

### Não supervisionado

- **Base:** [Customer Personality Analysis](https://www.kaggle.com/datasets/imakash3011/customer-personality-analysis).

- **Entradas:** Data de nascimento, nível de educação, renda e número de filhos.
- **Saída:** Conjuntos de pessoas com status matrimonial solteiro(a).
- **Motivação da previsão da saída:** Em uma rede social é importante conhecer as pessoas com características semelhantes para recomendar produtos e conteúdos da aplicação de acordo com essas características. Nesse contexto, a saída pode ser usada para identificar usuários solteiros e recomendar a conexão entre eles.

### Supervisionado e não supervisionado

- **Base:** [State of Data Brazil 2021](https://www.kaggle.com/datasets/datahackers/state-of-data-2021).

##### Supervisionado

- O exemplo abaixo utiliza a base de dados [State of Data Brazil 2021](https://www.kaggle.com/datasets/datahackers/state-of-data-2021) para resolver um problema de classificação do aprendizado supervisionado.


- **Entradas:** Idade, UF de onde mora, região onde mora, região de origem, mudou de estado ou não e gênero da pessoa.
- **Saída:** Rotular nível de ensino que atende melhor as características de entrada.
- **Motivação da previsão da saída:** Pode ser interessante para recrutadores de empresas procurando por possíveis candidatos na internet, pois quando este dado está faltando o sistema poderia sugerir qual é o nível de ensino com maior probabilidade do possível candidato ter, a partir disso, o recrutador vai ter uma melhor noção do candidato e saber se vale apena fazer a abordagem ou não.

##### Não supervisionado

- **Entradas:** Idade, UF de onde mora, região onde mora, região de origem, mudou de estado ou não, gênero da pessoa e nível de ensino.
- **Saída:** Conjunto de pessoas com mesmo estado de origem.
- **Motivação da previsão da saída:** Pode ser interassente para empresas, no sentido de analise dos funcionários e distribuição desses nos projetos da empresa.

### Próximos passos

1. Terminar questões 1, 2 e 3 de maneira semi definitiva.
    1.1 Revisar conteúdo para me certificar de fato que as respostas estão no sentido correto.
    1.2 Melhor explicação das respostas.
    1.3 Organizar respostas.
2. Fazer próximas questões seguindo essa ordem. (4, 5, 6 e 7)

#### Metas: 

1. Terminar questões 1, 2 e 3 no máximo até domingo.
2. Começar implementação da 4 para ter uma noção de oque devo focar ao longo da semana.

In [20]:
import pandas as pd
df = pd.read_csv('./international_matches.csv')
#df = pd.read_csv('./EPL_20_21.csv')
df

#print('Valores faltantes:\n', df.isnull().sum())

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,home_team_score,...,shoot_out,home_team_result,home_team_goalkeeper_score,away_team_goalkeeper_score,home_team_mean_defense_score,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score
0,1993-08-08,Bolivia,Uruguay,South America,South America,59,22,0,0,3,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1993-08-08,Brazil,Mexico,South America,North America,8,14,0,0,1,...,No,Draw,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1993-08-08,Ecuador,Venezuela,South America,South America,35,94,0,0,5,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1993-08-08,Guinea,Sierra Leone,Africa,Africa,65,86,0,0,1,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1993-08-08,Paraguay,Argentina,South America,South America,67,5,0,0,1,...,No,Lose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23916,2022-06-14,Moldova,Andorra,Europe,Europe,180,153,932,1040,2,...,No,Win,65.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23917,2022-06-14,Liechtenstein,Latvia,Europe,Europe,192,135,895,1105,0,...,No,Lose,NaN,65.0,NaN,NaN,NaN,NaN,NaN,NaN
23918,2022-06-14,Chile,Ghana,South America,Africa,28,60,1526,1387,0,...,Yes,Lose,79.0,74.0,75.5,76.7,78.2,75.5,76.0,78.2
23919,2022-06-14,Japan,Tunisia,Asia,Africa,23,35,1553,1499,0,...,No,Lose,73.0,NaN,75.2,75.0,77.5,70.8,72.3,74.0
23920,2022-06-14,Korea Republic,Egypt,Asia,Africa,29,32,1519,1500,4,...,No,Win,75.0,NaN,73.0,80.0,73.8,NaN,79.3,70.8

In [21]:
df.describe()

,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,home_team_score,away_team_score,home_team_goalkeeper_score,away_team_goalkeeper_score,home_team_mean_defense_score,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score
count,23921.000000,23921.000000,23921.000000,23921.000000,23921.000000,23921.000000,8379.000000,8095.000000,7787.000000,8510.000000,8162.000000,7564.000000,8312.000000,7979.000000
mean,77.854688,80.797375,323.401488,315.453576,1.609214,1.068266,74.963838,74.212477,74.903249,75.818743,75.889292,74.424379,75.420019,75.259143
std,52.355225,53.232902,500.825725,490.944273,1.630127,1.263944,8.212242,8.225919,6.003114,6.268416,6.053110,5.937425,6.201906,6.124573
min,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,47.000000,47.000000,52.800000,53.300000,54.200000,52.800000,53.300000,54.200000
25%,33.000000,36.000000,0.000000,0.000000,0.000000,0.000000,70.000000,69.000000,71.000000,71.700000,72.500000,70.500000,71.300000,71.800000
50%,71.000000,73.000000,0.000000,0.000000,1.000000,1.000000,75.000000,74.000000,75.200000,75.700000,76.200000,74.500000,75.300000,75.500000
75%,115.000000,119.000000,547.000000,523.000000,2.000000,2.000000,81.000000,80.000000,78.800000,80.000000,79.500000,78.200000,79.700000,79.000000
max,211.000000,211.000000,2164.000000,2164.000000,31.000000,21.000000,97.000000,97.000000,91.800000,93.000000,93.200000,91.800000,93.000000,93.200000

In [22]:
print('Valores duplicados:\n', df.duplicated())

Valores duplicados:
 0        False
1        False
2        False
3        False
4        False
         ...
23916    False
23917    False
23918    False
23919    False
23920    False
Length: 23921, dtype: bool